button {
    display: inline-flex;
    justify-content: center;
    min-width: 120px;
    padding: 12px 15px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    border-radius: 0.25rem;

    &.primary {
        background-color: $primary-background-color;
        color: $primary-foreground-color;
        border: none;
        @include transition();

        &:hover {
            @include darken-on-hover($primary-background-color);
        }
    }

    &.secondary {
        background-color: $secondary-background-color;
        color: $secondary-foreground-color;
        border: none;
        @include transition();

        &:hover {
            @include darken-on-hover($secondary-background-color);
        }
    }

    &.tertiary {
        background-color: $tertiary-background-color;
        color: $tertiary-foreground-color;
        border: none;
        @include transition();

        &:hover {
            @include darken-on-hover($tertiary-background-color);
        }
    }

    &.cta {
        border: none;
        background-color: $transparent;
        &::after {
            height: 0.125rem;
            padding: 0.125rem 0 0;
            content: '\2192';
            opacity: 0;
            transform: translate(0, -50%);
            @include transition();
        }

        &:hover {
            &::after {
                transform: translate(5px, -50%);
                opacity: 1;
            }
        }
    }

    &.outline-light {
        background-color: $transparent;
        color: $white;
        border: 1px solid $white;
        height: 100%;
    }

    &.outline-dark {
        background-color: $transparent;
        color: $black;
        border: 1px solid $black;
        height: 100%;
    }

    &.disabled {
        background-color: $disabled-background-color;
        color: $disabled-foreground-color;
        border: none;
        cursor: default;
    }

    &.xs {
        padding: 1px 5px;
    }

    &.sm {
        padding: 5px 10px;
    }

    &.lg {
        padding: 15px 20px;
    }
}