button {
    display: inline-flex;
    justify-content: center;
    min-width: 120px;
    padding: 12px 15px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;

    &.primary {
        background-color: $primary-background-color;
        color: $primary-foreground-color;
        border: none;
        @include transition();

        &:hover {
            @include darken-on-hover($primary-background-color);
        }
    }

    &.secondary {
        background-color: $secondary-background-color;
        color: $secondary-foreground-color;
        border: none;
        @include transition();

        &:hover {
            @include darken-on-hover($secondary-background-color);
        }
    }

    &.tertiary {
        background-color: $tertiary-background-color;
        color: $tertiary-foreground-color;
        border: none;
        @include transition();

        &:hover {
            @include darken-on-hover($tertiary-background-color);
        }
    }

    &.cta {
        i {
            position: relative;
            left: 0px;
            @include transition();
        }

        &:hover {
            i {
                left: 3px;
            }
        }
    }

    &.outline-light {
        background-color: $transparent;
        color: $white;
        border: 1px solid $white;
        height: 100%;
    }

    &.outline-dark {
        background-color: $transparent;
        color: $black;
        border: 1px solid $black;
        height: 100%;
    }

    &.disabled {
        background-color: $disabled-background-color;
        color: $disabled-foreground-color;
        border: none;
        cursor: default;
    }

    &.rounded {
        border-radius: 32px;
    }

    &.xs {
        padding: 1px 5px;
    }

    &.sm {
        padding: 5px 10px;
    }

    &.lg {
        padding: 15px 20px;
    }
}