button {
    display: inline-block;
    min-width: 120px;
    padding: 12px 15px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;

    &.primary {
        background: $primary-background-color;
        color: $primary-foreground-color;
        border: none;
        @include transition();
        @include darken-on-hover($primary-background-color);
    }

    &.secondary {
        background: $secondary-background-color;
        color: $secondary-foreground-color;
        border: none;
        @include transition();
        @include darken-on-hover($secondary-background-color);
    }

    &.tertiary {
        background: $tertiary-background-color;
        color: $tertiary-foreground-color;
        border: none;
        @include transition();
        @include darken-on-hover($tertiary-background-color);
    }

    &.outline-light {
        background: $transparent;
        color: $white;
        border: 1px solid $white;
        height: 100%;
    }

    &.outline-dark {
        background: $transparent;
        color: $black;
        border: 1px solid $black;
        height: 100%;
    }

    &.disabled {
        background: $disabled-background-color;
        color: $disabled-foreground-color;
        border: none;
        opacity: 0.6;
        cursor: default;
    }

    &.rounded {
        border-radius: 32px;
    }

    &.xs {
        padding: 1px 5px;
    }

    &.sm {
        padding: 5px 10px;
    }

    &.lg {
        padding: 15px 20px;
    }
}