.checkbox {
    display: flex;
	flex-wrap: wrap;
    justify-content: left;

	&-label {
		margin: 0 5px;
		cursor: pointer;
	}

	&-group {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
        height: 20px;
		background-color: transparent;
		border: 2px solid $checkbox-border-color;
		border-radius: 0.25rem;
	}

	&-input:checked + &-checked {
		opacity: 1;
	}

	&-checked {
		content: "";
        width: 4px;
        height: 10px;
		margin-top: -2px;
        border-right: 2px solid $checkbox-check-color;
        border-bottom: 2px solid $checkbox-check-color;
		opacity: 0;
		transform: rotate(30deg);
		@include transition();
	}
}