// Text layout
    // Headings
    h1, h2, h3, h4, h5, h6 {
        margin: 2rem 0 0.8rem 0
    }
    // Body
    p {
        margin: 1rem 0;
    }


// List layout
ol li{
    margin: 1em 0 0 0;
}

ul li{
    margin: 1.2em 0 0 0;
}

// Button layout
button {
    margin: 0 0.2rem;
}
