// Text layout
    // Headings
    h1, h2, h3, h4, h5, h6 {
        margin: 2rem 0 0.8rem 0
    }
    // Body
    p {
        margin: 0 0 0.8rem 0;
    }

    // Lists
    ol li{
        margin: 0.5em 0 0 0;
    }

    ul li{
        margin: 1.2em 0 0 0;
    }

// Buttons

button {
    margin: 0 0.2rem;
}
