.radio {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px 0;

	&-label {
		margin: 0 5px;
		cursor: pointer;
	}

	&-group {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
        height: 20px;
		background-color: transparent;
		border: 2px solid $radio-color;
		border-radius: 50px;
	}

	&-input:checked + &-checked {
		opacity: 1;
	}

	&-checked {
		content: "";
        width: 10px;
        height: 10px;
		background-color: $radio-color;
		border-radius: 50px;
		opacity: 0;
		@include transition();
	}
}