.toggle {
    display: flex;
	flex-wrap: wrap;
    justify-content: center;

	&-label {
		margin: 0 5px;
		cursor: pointer;
	}

	&-group {
		position: relative;
		width: 50px;
        height: 25px;
		background-color: $toggle-inactive-color;
		border-radius: 3rem;
        @include transition();
	}

	&-input:checked ~ &-group {
		background-color: $toggle-active-color;

		.toggle-checked {
			right: 5px;
		}
	}

	&-checked {
        position: absolute;
        top: 50%;
        right: calc(100% - 20px);
        content: "";
        width: 1rem;
        height: 1rem;
        background-color: $white;
        border-radius: 3rem;
        transform: translateY(-50%);
        @include transition();
	}
}

