// Common rules
h1, h2, h3, h4, h5, p {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Heading
h1, h2, h3, h4, h5 {
    font-family: 'Heading';
    color: $black-night;
}

.h1 {
    font-size: 25px;
    line-height: 30px;

    @include media-breakpoint-up(md) {
        font-size: 40px;
        line-height: 50px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 50px;
        line-height: 60px;
    }
}

h1 {
    @extend .h1 ;
}

h2 {
    font-size: 22px;
    line-height: 16px;

    @include media-breakpoint-up(md) {
        font-size: 32px;
        line-height: 36px;
    }
}

h3 {
    font-size: 14px;
    line-height: 16px;

    @include media-breakpoint-up(md) {
        font-size: 22px;
        line-height: 25px;
    }
}

h4 {
    font-size: 14px;
    line-height: 16px;

    @include media-breakpoint-up(md) {
        font-size: 18px;
        line-height: 20px;
    }
}

h5 {
    font-size: 12px;
    line-height: 14px;

    @include media-breakpoint-up(md) {
        font-size: 14px;
        line-height: 16px;
    }
}

// Body
.typography {
    p {
        font-family: 'Body', sans-serif;
        color: $black-night;
    }

    &.body-1 {
        font-size: 14px;
        line-height: 19px;

        @include media-breakpoint-up(md) {
            font-size: 18px;
            line-height: 24px
        }

        @include media-breakpoint-up(lg) {
            font-size: 22px;
            line-height: 30px
        }
    }

    &.body-2 {
        font-size: 14px;
        line-height: 19px;

        @include media-breakpoint-up(md) {
            font-size: 18px;
            line-height: 24px
        }
    }

    &.body-3 {
        font-size: 14px;
        line-height: 19px;
    }

    &.body-4 {
        font-size: 20px;
        line-height: 25px;
    }
}

.inverted {
    a, h3, h4, p {
        color: $white !important;

        :hover {
            color: $white !important;
        }
    }
}

// Non-breaking copy
// Propagating
.text-nowrap {
    white-space: nowrap;
}

.text-nowrap-sm-up {
    @include media-breakpoint-up(sm) {
        white-space: nowrap;
    }
}

.text-nowrap-md-up {
    @include media-breakpoint-up(md) {
        white-space: nowrap;
    }
}

.text-nowrap-lg-up {
    @include media-breakpoint-up(lg) {
        white-space: nowrap;
    }
}

.text-nowrap-lg-xl {
    @include media-breakpoint-up(xl) {
        white-space: nowrap;
    }
}

// Non-propagating
.text-nowrap-sm-only {
    @include media-breakpoint-only(sm) {
        white-space: nowrap;
    }
}

.text-nowrap-md-only {
    @include media-breakpoint-only(md) {
        white-space: nowrap;
    }
}

.text-nowrap-lg-only {
    @include media-breakpoint-only(lg) {
        white-space: nowrap;
    }
}

.text-nowrap-lg-only {
    @include media-breakpoint-only(xl) {
        white-space: nowrap;
    }
}
