// Default color palette - Modify or replace these colors to match your branding. These values are referenced by _settings.scss, so if the below palette is modified, ensure that respective references are updated.

// Purples
$lilac: #b4b4db; // Lilac
$purple: #7547d0; // Purple
$grape: #5d3895; // Grape
$galaxy: #2a2432; // Galaxy

// Reds
$salmon: #ffb2ab; // Salmon
$red: #ff6979; // Red
$burgundy: #962f44; // Burgundy
$rosso: #3a101a; // Rosso

// Greens
$mint: #beedd5; // Mint
$green: #60ed90; // Green
$green-alpha: rgba(#60ed90, 0.8); // Green Semi-transparent
$grass: #108454; // Grass
$forest: #093320; // Forest
$grey: #444444;

// Yellows
$cream: #f4e4ad; // Cream
$yellow: #f4d879; // Yellow
$mustard: #90720e; // Mustard
$seaweed: #302e1b; // Seaweed

// Grays
$light-gray: #F2F2F2;
$medium-gray: #DDDDDD;
$dark-gray:#9A9A9A;
$extra-dark-gray:#777777;

// Body Text Color
$black: #000000;

// White
$white: #ffffff;

// Transparent
$transparent: rgba(0,0,0,0);

// System message colors
$info:    #00bfe9 !default;
$success: #0b996c !default;
$warning: #f69900 !default;
$error:   #d60000 !default;
