// Accessable color palette - Designed to be WCAG 2.1 AA compliant achieving a contrast ratio of at least 4.5:1 when used with small text or a contrast ratio of 3:1 for large text or iconography.
// e.g.: Use small white text on cyan-aa-small to achieve a contrast ratio of >= 4.5:1 or use white large text or icon with cyan-aa-large to achieve a contrast ratio of >= 3:1

// Modify or replace these colors to match your branding. These values are referenced by _settings.scss, so if the below palette is modified, ensure that respective references are updated.

//Red
$red-aa-large: #FF5C5C;
$red-aa-small: #D93A3A;

//Orange
$orange-aa-large: #EB7100;
$orange-aa-small: #BB5506;

//Green
$green-aa-large: #19A96A;
$green-aa-small: #2C815C;

// Cyan
$cyan-aa-large: #1A98FF;
$cyan-aa-small: #307AB8;

// Blue
$blue-aa-large: #6190FF;
$blue-aa-small: #426BCD;

// Purple
$purple-aa-large: #C46BFF;
$purple-aa-small: #A152CB;

// Violet
$violet-aa-large: #A97AFF;
$violet-aa-small: #825FC3;

// Gray
$gray-aa-large: #949494;
$gray-aa-small: #767676;
$gray-non-aa: #F0F0F0; // Only used for non-essential items
$gray-non-aa-lightest: #F2F2F2; // Only used for non-essential items

// Black
$black: #000000;

// White
$white: #ffffff;

// Transparent
$transparent: rgba(0,0,0,0);
