// Layout settings
    // Gutter sise
    $grid-gutter-width: 24px !default;

    // media query breakpoints
    $xs-breakpoint: 576px !default;
    $sm-breakpoint: 768px !default;
    $md-breakpoint: 992px !default;
    $lg-breakpoint: 1366px !default;

// Body setting
$body-background-color: $gray-non-aa-lightest;

// Button settings
$button-font: 'Heading', sans-serif;
$primary-background-color: $cyan-aa-small;
$primary-foreground-color: $white;

$secondary-background-color: $red-aa-small;
$secondary-foreground-color: $white;

$tertiary-background-color: $green-aa-small;
$tertiary-foreground-color: $white;

$disabled-background-color: $gray-aa-small;
$disabled-foreground-color: $white;

// Tyopgraphy settings
$default-text-color: $black;
$link-color: $cyan-aa-small;

// Navigation settings
$navigation-background-color: $violet-aa-small;
$navigation-foreground-color: $white;
$navigation-dropdown-background-color: $white;
$navigation-dropdown-foreground-color: $cyan-aa-small;
$navigation-mobile-background: $gray-aa-small;
$navigation-mobile-foreground: $white;

// Breadcumbs settings
$breadcumbs-background-color: $gray-non-aa;
$breadcumbs-foreground-color: $black;

// Input settings
$checkbox-border-color: $cyan-aa-small;
$checkbox-check-color: $cyan-aa-small;
$radio-color: $cyan-aa-small;
$toggle-inactive-color: $gray-aa-large;
$toggle-active-color: $cyan-aa-small;
$input-field-border-color: $gray-aa-small;
$input-field-focus-color: $cyan-aa-small;

// Select settings
$select-field-border-color: $gray-aa-small;
$select-field-focus-color: $cyan-aa-small;
$select-field-arrow-color: $gray-aa-small;
$select-field-arrow-focus-color: $cyan-aa-small;

// Accordion settings
$accordion-heading-background-color: $cyan-aa-small;
$accordion-heading-foreground-color: $white;

// Table settings
$table-heading-background-color: $gray-aa-small;
$table-heading-foreground-color: $white;
$table-odd-background-color: $white;
$table-odd-foreground-color: $black;
$table-seperator-color: $gray-non-aa;
$table-even-background-color: $gray-non-aa-light;
$table-even-foreground-color: $black;

// List settings
$list-point-background-color: $gray-aa-small;
$list-point-foreground-color: $white;
$list-association-color: $gray-non-aa;

// Tooltip settings
$tooltip-indicator-color: $gray-aa-small;
$tooltip-background-color: $cyan-aa-small;
$tooltip-foreground-color: $white;

// Pagination settings
$active-page-background-color: $cyan-aa-small;
$active-page-foreground-color: $white;

// Progress bar settings
$progress-background-color: $cyan-aa-small;
$progress-foreground-color: $white;
$remaining-steps-background-color: $gray-aa-small;
$remaining-steps-foreground-color: $white;

// Notification settings
$new-color: $cyan-aa-small;
$info-color: $gray-aa-small;
$warning-color: $orange-aa-small;
$success-color: $green-aa-small;
$error-color: $red-aa-small;

// Card settings
$card-date-background-color: $cyan-aa-small;
$card-date-foreground-color: $white;

// Footer settings
$footer-background-color: $cyan-aa-small;
$footer-foreground-color: $white;