// Layout settings
    // Gutter sise
    $grid-gutter-width: 24px !default;

    // media query breakpoints
    $xs-breakpoint: 576px !default;
    $sm-breakpoint: 768px !default;
    $md-breakpoint: 992px !default;
    $lg-breakpoint: 1366px !default;

// Button settings
$primary-background: $green;
$primary-foreground: $grape;

$secondary-background: $purple;
$secondary-foreground: $white;

$tertiary-background: $grape;
$tertiary-foreground: $white;

// Text settings
$default-text-color: $black-night;
$button-font: 'Heading', sans-serif;

// Input settings
$checkbox-border-color: $purple;
$checkbox-check-color: $black-night;
$radio-color: $grape;
$toggle-color: $burgundy;

// Accordion settings
$accordion-heading-background: $purple;
$accordion-heading-foreground: $white;

// Table settings
$table-heading-background: $green;
$table-heading-foreground: $black-night;
$table-odd-background: $white;
$table-odd-foreground: $black-night;
$table-seperator-color: $medium-gray;
$table-even-background: $light-gray;
$table-even-foreground: $black-night;